*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
section
{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
}
section .imgbox
{
    position:relative;
    width:50%;
    height:100vh;
}
/*section .imgbox:before
{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(225deg,#e91e63,#03a9f4);
    z-index:1;
    mix-blend-mode:screen;
}*/
section .imgbox img
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
section .content
{
    display:flex;
    width:50%;
    height:100%;
    justify-content:center;
    align-items:center;
    z-index:1;
}
section .content .formbox
{
    width:50%;
    padding:40px;
    background:rgb(255 255 255/0.9);
    margin:50px;
}
section .content .formbox h1
{
    color:#607d8b;
    font-weight:600;
    font-size:1.5em;
    text-transform:uppercase;
    margin-bottom:20px;
    border-bottom:4px solid #6a5abb;
    display:inline-block;
    letter-spacing:1px;
}
section .content .formbox .txt_field
{
    margin-bottom:20px;
}
section .content .formbox .txt_field span
{
    font-size:16px;
    margin-bottom:5px;
    display:inline-block;
    color:#607d8b;
    font-weight:300;
    font-weight:16px;
    letter-spacing:1px;
}
section .content .formbox .txt_field input
{
    width:100%;
    padding:10px 20px;
    outline:none;
    font-weight:400;
    border:1px solid #607d8b;
    font-size:16px;
    letter-spacing:1px;
    color:#607d8b;
    background:transparent;
    border-radius:30px;
}
section .content .formbox .txt_field input[type="Submit"]
{
    background:#6a5abb;
    color:#fff;
    outline:none;
    border:none;
    font-weight:500;
    cursor:pointer;
}
section .content .formbox .txt_field input[type="Submit"]:hover
{
    background:#f53677;
}
section .content .formbox .txt_field p
{
    color:#607d8b;
}
section .content .formbox .signup_link p
{
    color:#607d8b;
}
section .content .formbox .signup_link p a
{
    color:#6a5abb;
}
section .content .formbox .error-msg
{
    margin:10px 0;
    display:block;
    color:#6a5abb;
    border-radius:5px;
    font-size:20px;
}
/*@media (max-width:768px)
{
    section .imgbox
    {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    section .content
    {
        display:flex;
        width:100%;
        height:100%;
        justify-content:center;
        align-items:center;
        z-index:1;
    }
    section .content .formbox
    {
        width:100%;
        padding:40px;
        background:rgb(255 255 255/0.9);
        margin:50px;
    }
}*/